Source: factorio-init
Section: misc
Priority: optional
Maintainer: Maikel Wever <maikelwever@gmail.com>
Standards-Version: 3.9.2

Package: factorio-init
Architecture: amd64
Pre-Depends: bash tar curl bash-completion grep
Description: Factorio initscript and server updater
