Source: factorio-init
Section: misc
Priority: optional
Maintainer: Maikel Wever <maikelwever@gmail.com>
Standards-Version: 3.9.2

Package: factorio-init
Architecture: all
Pre-Depends: bash
Description: Factorio initscript
